:host {
  display: grid;
  height: 100vh;

  grid-template-areas:
    'header header'
    'nav    main'
    'footer footer';

  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 250px 1fr;
}

app-header {
  grid-area: header;
  border: 5px solid red;
}

nav {
  grid-area: nav;
  border: 5px solid yellow;
}

main {
  grid-area: main;
  border: 5px solid blue;
}

footer {
  grid-area: footer;
  border: 5px solid green;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
